.breadcrumb-item a {
    color: #020202;
    font-weight: 400
}

.header-title {
    font-size: 1.64062rem;
    color: #020202
}

.header-subtitle {
    font-size: .9375rem;
    color: #020202;
}

.titulo-montos {
    color:#ffffff !important
}