<nav class="navbar navbar-expand navbar-theme" style="background:#e0754e !important">
    <a class="sidebar-toggle d-flex mr-2">
        <i class="hamburger align-self-center"></i>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item dropdown ml-lg-2">
                <a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-toggle="dropdown">
                    <i class="align-middle fas fa-clock"></i>{{ rxTime | date: 'dd/MM/YYYY HH:mm:ss' }}
                </a>
            </li>
        </ul>
    </div> 

</nav>
