<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <app-topbar></app-topbar>
        <main class="content">
            <div class="container-fluid">
                <div class="header">
                    <h1 class="header-title">
                        Editar venta
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dasboard']">Dasboard</a></li>
                            <li class="breadcrumb-item"><a>Editar</a></li>
                        </ol>
                    </nav>
                    <p class="header-subtitle">Modifique los campos necesarios...</p>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-12 form-group">
                        <div *ngIf="error_msg_venta" (click)="close_alert_error_venta()" class="col-12 col-lg-12 alert alert-danger alert-dismissible" role="alert">
                            <div class="alert-message">
                                <strong>{{this.error_msg_venta}}</strong>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Datos de la venta</h5>
                            </div>
                            <div class="card-body">
                                <form #ventaForm="ngForm" (ngSubmit)="onSubmitVenta(ventaForm)">
                                    <div class="row">
                                        <div class="col-lg-6 form-group">
                                            <label><b>Trabajador que ingresa venta</b></label>
                                            <input type="text" class="form-control" value="{{identity.nombre +' '+ identity.apellidos}}" readonly>
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <label><b>Correo electrónico</b></label>
                                            <input type="text" class="form-control" value="{{identity.email}}" readonly>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                       
                                        <div class="col-lg-4 form-group">
                                            <label><b>Nombre del Cliente</b></label>
                                            <input type="text" class="form-control" #nombre_cliente="ngModel" name="nombre_cliente" [(ngModel)]="venta.nombre_cliente">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label><b>Descripción de la venta</b></label>
                                            <input type="text" class="form-control" #descripcion_venta="ngModel" name="descripcion_venta" [(ngModel)]="venta.descripcion_venta" placeholder="Pequeña deescripción de la venta">
                                        </div>
                                        <div class="col-lg-4 form-group">
                                            <label><b>Fecha venta</b></label>
                                            <!-- <input type="text" class="form-control" #fecha_venta="ngModel" name="fecha_venta" [(ngModel)]="venta.fecha_venta" placeholder="Ejemplo 05/06/1999"> -->
                                            <input type="text" class="form-control" id="fecha_venta" #fecha_venta="ngModel" name="fecha_venta" [(ngModel)]="venta.fecha_venta">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-12 col-xl-12 form-group">
                                            <button type="submit" class="btn btn-success btn-block">Actualizar venta</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-12 form-group">
                        <div *ngIf="error_msg" (click)="close_alert_error()" class="col-12 col-lg-12 alert alert-danger alert-dismissible" role="alert">
                            <div class="alert-message">
                                <strong>{{this.error_msg}}</strong>
                            </div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Detalles de la venta</h5>
                            </div>
                            <div class="card-body">
                                <form #detalleForm="ngForm" (ngSubmit)="onSubmitDetalle(detalleForm)">
                                    <div class="row">
                                        <div class="col-lg-4 form-group">
                                            <label for=""><b>Productos</b></label>
                                            <select class="form-control" (change)="getDataProducto($event.target)" #idproducto="ngModel" name="idproducto" [(ngModel)]="detalle.idproducto">
                                                <option value="" disabled>Seleccionar</option>
                                                <option *ngFor="let item of productos" value="{{item._id}}">{{item.descripcion}}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Valor del producto</b></label>
                                            <input type="text" class="form-control" value="{{producto.valor_producto}}" #valor_producto="ngModel" name="valor_producto" [(ngModel)]="detalle.valor_producto" readonly>
                                        </div>
                                        <div class="col-lg-3 form-group">
                                            <label for=""><b>Cantidad</b></label>
                                            <input type="text" class="form-control" #cantidad="ngModel" name="cantidad" [(ngModel)]="detalle.cantidad">
                                        </div>
                                       
                                        <div class="col-lg-2 form-group">
                                            <label><b>+</b></label>
                                            <button type="submit" class="btn btn-primary btn-block">Agregar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Productos</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-hover table-sm">
                                    <thead class="thead-dark">
                                        <th class="text-center">Eliminar</th>
                                        <th class="text-center">Producto</th>
                                        <th class="text-center">Precio</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Subtotal</th>
                                    </thead>
                                    <tbody *ngFor="let item of data_detalle; let idx = index">
                                        <td class="text-center">
                                            <button type="submit" class="input-group-test btn btn-danger" ngbTooltip="Sacar de la lista" (click)="eliminarProductoLista(idx,item.valor_producto,item.cantidad)">
                                                <i class="fa fa-trash"></i>
                                            </button> 
                                        </td>
                                        <td class="text-center">{{item.producto}}</td>
                                        <td class="text-center">{{item.valor_producto}}</td>
                                        <td class="text-center">{{item.cantidad}}</td>
                                        <td class="text-center"><b>{{(item.valor_producto)*(item.cantidad)}}</b></td>
                                    </tbody>
                                    <tfoot>
                                        <td class="text-center"><b>Total</b> </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="text-center"><b>${{total}}</b></td>
                                        
                                    </tfoot>
                                </table>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

