<div class="wrapper">
    <app-sidebar style="background:white !important;"></app-sidebar>
    <div class="main">
        <app-topbar></app-topbar>
        <main class="content">
            <div class="container-fluid">
                <div class="header">
                    <h1 class="header-title">
                        Dashboard
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" style="color:#f5f5f5 !important"><a>Dashboard</a></li>
                        </ol>
                    </nav>
                    <p class="header-subtitle">Resúmen de las ventas realizadas.</p>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#943527 !important">
                            <div class="card-header">
                                <h5 class="card-title titulo-montos">Total mes actual</h5>
                            </div>
                            <div class="card-body">
                                <h2 class="titulo-montos">${{this.totalMesActual}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#5a2794 !important">
                            <div class="card-header">
                                <h5 class="card-title titulo-montos">Total en el último trimestre</h5>
                            </div>
                            <div class="card-body">
                                <h2 class="titulo-montos">${{this.totalTrimestre}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#942767 !important">
                            <div class="card-header">                               
                                <h5 class="card-title titulo-montos">Total en el último semestre</h5>
                            </div>
                            <div class="card-body">
                                <h2 class="titulo-montos">${{this.totalSemestrePrimer}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#0e4810 !important">
                            <div class="card-header">
                                <h5 class="card-title titulo-montos">Total en el año</h5>
                            </div>
                            <div class="card-body">
                                <h2 class="titulo-montos">${{this.totalAnioActual}}</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                
                                <h5 class="card-title">¿Qué se ha vendido en este mes?</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                <h2 style="color:#0f0e0e !important">Aquí va un gráfico de torta</h2>
                                <ol>
                                    <li>Torta biscocho 15 redonda: {{this.cantidadMesActualTortaBiscocho15Redonda}}</li>
                                    <li>Torta biscocho 20 redonda: {{this.cantidadMesActualTortaBiscocho20Redonda}}</li>
                                    <li>Torta biscocho 30 redonda: {{this.cantidadMesActualTortaBiscocho30Redonda}}</li>
                                    <li>Torta biscocho 40 redonda: {{this.cantidadMesActualTortaBiscocho40Redonda}}</li>
                                    <li>Torta biscocho 50 redonda: {{this.cantidadMesActualTortaBiscocho50Redonda}}</li>
                                    <li>Torta biscocho 15 rectangular: {{this.cantidadMesActualTortaBiscocho15Rectangular}}</li>
                                    <li>Torta biscocho 30 rectangular: {{this.cantidadMesActualTortaBiscocho30Rectangular}}</li>
                                    <li>Torta biscocho 40 rectangular: {{this.cantidadMesActualTortaBiscocho40Rectangular}}</li>
                                    <li>Torta biscocho 60 rectangular: {{this.cantidadMesActualTortaBiscocho60Rectangular}}</li>

                                    <li>Torta especial 12 panqueque: {{this.cantidadMesActualTortaEspecial12Panqueue}}</li>
                                    <li>Torta especial 20 panqueque: {{this.cantidadMesActualTortaEspecial20Panqueue}}</li>
                                    <li>Torta especial 30 panqueque: {{this.cantidadMesActualTortaEspecial30Panqueue}}</li>
                                    <li>Torta especial 15 Hojarasca/milhoja: {{this.cantidadMesActualTortaEspecial15HojarascaMilhoja}}</li>
                                    <li>Torta especial 20 Hojarasca/milhoja: {{this.cantidadMesActualTortaEspecial20HojarascaMilhoja}}</li>
                                    <li>Torta especial 30 Hojarasca/milhoja: {{this.cantidadMesActualTortaEspecial30HojarascaMilhoja}}</li>
                                </ol>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                
                                <h5 class="card-title">¿Qué se ha vendido en los últimos 3 meses?</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                <h2 style="color:#0f0e0e !important">Aquí va un gráfico de barras</h2>
                                <ol>
                                    <li>Torta biscocho 15 redonda: {{this.cantidadUltimosTresTortaBiscocho15Redonda}}</li>
                                    <li>Torta biscocho 20 redonda: {{this.cantidadUltimosTresTortaBiscocho20Redonda}}</li>
                                    <li>Torta biscocho 30 redonda: {{this.cantidadUltimosTresTortaBiscocho30Redonda}}</li>
                                    <li>Torta biscocho 40 redonda: {{this.cantidadUltimosTresTortaBiscocho40Redonda}}</li>
                                    <li>Torta biscocho 50 redonda: {{this.cantidadUltimosTresTortaBiscocho50Redonda}}</li>
                                    <li>Torta biscocho 15 rectangular: {{this.cantidaUltimosTresTortaBiscocho15Rectangular}}</li>
                                    <li>Torta biscocho 30 rectangular: {{this.cantidadUltimosTresTortaBiscocho30Rectangular}}</li>
                                    <li>Torta biscocho 40 rectangular: {{this.cantidadUltimosTresTortaBiscocho40Rectangular}}</li>
                                    <li>Torta biscocho 60 rectangular: {{this.cantidadUltimosTresTortaBiscocho60Rectangular}}</li>

                                    <li>Torta especial 12 panqueque: {{this.cantidadUltimosTresTortaEspecial12Panqueue}}</li>
                                    <li>Torta especial 20 panqueque: {{this.cantidadUltimosTresTortaEspecial20Panqueue}}</li>
                                    <li>Torta especial 30 panqueque: {{this.cantidadUltimosTresTortaEspecial30Panqueue}}</li>
                                    <li>Torta especial 15 Hojarasca/milhoja: {{this.cantidadUltimosTresTortaEspecial15HojarascaMilhoja}}</li>
                                    <li>Torta especial 20 Hojarasca/milhoja: {{this.cantidadUltimosTresTortaEspecial20HojarascaMilhoja}}</li>
                                    <li>Torta especial 30 Hojarasca/milhoja: {{this.cantidadUltimosTresTortaEspecial30HojarascaMilhoja}}</li>
                                </ol>
                            </div>
                        
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-12 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                
                                <h5 class="card-title">¿Qué se ha vendido en los últimos 6 meses?</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                <h2 style="color:#0f0e0e !important">Aquí va un gráfico de barras</h2>
                                <ol>
                                    <li>Torta biscocho 15 redonda: {{this.cantidadUltimosSeisTortaBiscocho15Redonda}}</li>
                                    <li>Torta biscocho 20 redonda: {{this.cantidadUltimosSeisTortaBiscocho20Redonda}}</li>
                                    <li>Torta biscocho 30 redonda: {{this.cantidadUltimosSeisTortaBiscocho30Redonda}}</li>
                                    <li>Torta biscocho 40 redonda: {{this.cantidadUltimosSeisTortaBiscocho40Redonda}}</li>
                                    <li>Torta biscocho 50 redonda: {{this.cantidadUltimosSeisTortaBiscocho50Redonda}}</li>
                                    <li>Torta biscocho 15 rectangular: {{this.cantidaUltimosSeisTortaBiscocho15Rectangular}}</li>
                                    <li>Torta biscocho 30 rectangular: {{this.cantidadUltimosSeisTortaBiscocho30Rectangular}}</li>
                                    <li>Torta biscocho 40 rectangular: {{this.cantidadUltimosSeisTortaBiscocho40Rectangular}}</li>
                                    <li>Torta biscocho 60 rectangular: {{this.cantidadUltimosSeisTortaBiscocho60Rectangular}}</li>

                                    <li>Torta especial 12 panqueque: {{this.cantidadUltimosSeisTortaEspecial12Panqueue}}</li>
                                    <li>Torta especial 20 panqueque: {{this.cantidadUltimosSeisTortaEspecial20Panqueue}}</li>
                                    <li>Torta especial 30 panqueque: {{this.cantidadUltimosSeisTortaEspecial30Panqueue}}</li>
                                    <li>Torta especial 15 Hojarasca/milhoja: {{this.cantidadUltimosSeisTortaEspecial15HojarascaMilhoja}}</li>
                                    <li>Torta especial 20 Hojarasca/milhoja: {{this.cantidadUltimosSeisTortaEspecial20HojarascaMilhoja}}</li>
                                    <li>Torta especial 30 Hojarasca/milhoja: {{this.cantidadUltimosSeisTortaEspecial30HojarascaMilhoja}}</li>
                                </ol>
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                
                                <h5 class="card-title">¿Qué se ha vendido durante este año?</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                <h2 style="color:#0f0e0e !important">Aquí va un gráfico de torta</h2>
                                <ol>
                                    <li>Torta biscocho 15 redonda: {{this.cantidadAnioActualTortaBiscocho15Redonda}}</li>
                                    <li>Torta biscocho 20 redonda: {{this.cantidadAnioActualTortaBiscocho20Redonda}}</li>
                                    <li>Torta biscocho 30 redonda: {{this.cantidadAnioActualTortaBiscocho30Redonda}}</li>
                                    <li>Torta biscocho 40 redonda: {{this.cantidadAnioActualTortaBiscocho40Redonda}}</li>
                                    <li>Torta biscocho 50 redonda: {{this.cantidadAnioActualTortaBiscocho50Redonda}}</li>
                                    <li>Torta biscocho 15 rectangular: {{this.cantidadAnioActualTortaBiscocho15Rectangular}}</li>
                                    <li>Torta biscocho 30 rectangular: {{this.cantidadAnioActualTortaBiscocho30Rectangular}}</li>
                                    <li>Torta biscocho 40 rectangular: {{this.cantidadAnioActualTortaBiscocho40Rectangular}}</li>
                                    <li>Torta biscocho 60 rectangular: {{this.cantidadAnioActualTortaBiscocho60Rectangular}}</li>

                                    <li>Torta especial 12 panqueque: {{this.cantidadAnioActualTortaEspecial12Panqueue}}</li>
                                    <li>Torta especial 20 panqueque: {{this.cantidadAnioActualTortaEspecial20Panqueue}}</li>
                                    <li>Torta especial 30 panqueque: {{this.cantidadAnioActualTortaEspecial30Panqueue}}</li>
                                    <li>Torta especial 15 Hojarasca/milhoja: {{this.cantidadAnioActualTortaEspecial15HojarascaMilhoja}}</li>
                                    <li>Torta especial 20 Hojarasca/milhoja: {{this.cantidadAnioActualTortaEspecial20HojarascaMilhoja}}</li>
                                    <li>Torta especial 30 Hojarasca/milhoja: {{this.cantidadAnioActualTortaEspecial30HojarascaMilhoja}}</li>
                                </ol>
                            </div>
                        
                        </div>
                    </div>
                   
                </div>

            </div>
        </main>
    </div>
</div>

