<div class="wrapper">
    <app-sidebar style="background:white !important;"></app-sidebar>
    <div class="main">
        <nav class="navbar navbar-expand navbar-theme" style="background:#153d77 !important">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">
                <div class="header">
                    <h1 class="header-title">
                        Dashboard
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" style="color:#f5f5f5 !important"><a>Dashboard</a></li>
                        </ol>
                    </nav>
                    <p class="header-subtitle">Resúmen de las ventas realizadas.</p>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#943527 !important">
                            <div class="card-header">
                                
                                <h5 class="card-title" style="color:#ffffff !important">Indicador 1</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#5a2794 !important">
                            <div class="card-header">
                                
                                <h5 class="card-title" style="color:#ffffff !important">Indicador 2</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#942767 !important">
                            <div class="card-header">
                                
                                <h5 class="card-title" style="color:#ffffff !important">Indicador 3</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                
                                <h5 class="card-title">Indicador 4</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        
                        </div>
                    </div>

                   

                 

                </div>

                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                
                                <h5 class="card-title">Indicador 1</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                
                                <h5 class="card-title">Indicador 2</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        
                        </div>
                    </div>
                   
                </div>

                <div class="row">
                    <div class="col-12 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                
                                <h5 class="card-title">Indicador 1</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                
                                <h5 class="card-title">Indicador 2</h5>
                                <div class="row">
                            
                                </div>
                            </div>
                            <div class="card-body">
                                
                            </div>
                        
                        </div>
                    </div>
                   
                </div>

            </div>
        </main>
    </div>
</div>

