<div class="wrapper">
    <app-sidebar style="background:white !important;"></app-sidebar>
    <div class="main">
        <app-topbar></app-topbar>
        <main class="content">
            <div class="container-fluid">
                <div class="header">
                    <h1 class="header-title">
                        Dashboard
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" style="color:#f5f5f5 !important"><a>Dashboard</a></li>
                        </ol>
                    </nav>
                    <p class="header-subtitle">Resúmen de las ventas realizadas.</p>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#943527 !important">
                            <div class="card-header">
                                <h5 class="card-title titulo-montos">Total mes actual</h5>
                            </div>
                            <div class="card-body">
                                <h2 class="titulo-montos">${{this.totalMesActual}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#5a2794 !important">
                            <div class="card-header">
                                <h5 class="card-title titulo-montos">Total en el último trimestre</h5>
                            </div>
                            <div class="card-body">
                                <h2 class="titulo-montos">${{this.totalTrimestre}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#942767 !important">
                            <div class="card-header">                               
                                <h5 class="card-title titulo-montos">Total en el último semestre</h5>
                            </div>
                            <div class="card-body">
                                <h2 class="titulo-montos">${{this.totalSemestrePrimer}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div class="card" style="background:#0e4810 !important">
                            <div class="card-header">
                                <h5 class="card-title titulo-montos">Total en el año</h5>
                            </div>
                            <div class="card-body">
                                <h2 class="titulo-montos">${{this.totalAnioActual}}</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">¿Qué se ha vendido en este mes?</h5>
                            </div>
                            <div class="card-body">
                                <!-- <canvas baseChart 
                                [chartType]="barChartType" 
                                [datasets]="barChartData" 
                                [labels]="barChartLabels">
                                </canvas> -->
                                <canvas id="tortaChart" width="300" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">¿Qué se ha vendido en los últimos 3 meses?</h5>
                            </div>
                            <div class="card-body">         
                                <!-- <canvas baseChart 
                                [chartType]="barChartType" 
                                [datasets]="barChartData" 
                                [labels]="barChartLabels">
                                </canvas> -->
                                <canvas id="barraChartTresMeses" width="300" height="95"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-xl-8">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">¿Qué se ha vendido en los últimos 6 meses?</h5>
                            </div>
                            <div class="card-body">
                                <!-- <canvas baseChart 
                                [chartType]="barChartType" 
                                [datasets]="barChartData" 
                                [labels]="barChartLabels">
                                </canvas> -->
                                <canvas id="barChartSeisMeses" width="300" height="95"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">¿Qué se ha vendido durante este año?</h5>
                            </div>
                            <div class="card-body">
                                <!-- <canvas baseChart 
                                [chartType]="barChartType" 
                                [datasets]="barChartData" 
                                [labels]="barChartLabels">
                                </canvas> -->
                                <canvas id="pieChartAnioActual" width="300" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

