<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>
    <div class="main">
        <app-topbar></app-topbar>
        <main class="content">
            <div class="container-fluid">
                <div class="header">
                    <h1 class="header-title">
                        Mis eventos
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dasboard']">Dasboard</a></li>
                            <li class="breadcrumb-item" style="color:#f5f5f5 !important"><a>Eventos</a></li>
                        </ol>
                    </nav>
                    <p class="header-subtitle">Listado de eventos registrados.</p>
                </div>

                <div class="row">
                    <div  class="col-12 col-xl-12">
                        <!-- <div class="alert alert-success alert-outline alert-dismissible" role="alert">
                            <div class="alert-icon">
                                <i class="far fa-fw fa-bell"></i>
                            </div>
                            <div class="alert-message">
                                <strong>Hello there!</strong> A simple success alert—check it out!
                            </div>
    
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button>
                        </div> -->
                    </div>
                    <div  class="col-12 col-xl-12">
                        <div class="card">
                            <div class="card-header">
                            
                                <h5 class="card-title">Filtro de eventos</h5>
                                <div class="row">
                                    <!--BUSCADOR DE EVENTOS-->
                                    <div class="col-lg-6">
                                        <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
                                            <div class="input-group date" id="datetimepicker-minimun" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" #filtro="ngModel" name="filtro" [(ngModel)]="filtroText">
                                                <div class="input-group-append">

                                                    <button type="submit" class="input-group-test btn btn-info">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--FIN BUSCADOR DE PRODUCTOS-->
                                    <div class="col-lg-2">
                                        <div class="btn-group">
                                            <button type="button" class="btn mb-1 btn-primary" aria-haspopup="true" [routerLink]="['/evento/registrar']">
                                                Registrar evento
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table table-striped table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>N° Factura</th>
                                        <th>Valor factura</th>
                                        <th>Fecha de ingreso factura</th>
                                        <th>Orden de compra</th>
                                        <th>Cotización</th>
                                        <th>Trabajador</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of eventos | paginate: { itemsPerPage: 10, currentPage: p }">
                                    <tr>
                                        <td>{{item.num_factura}}</td>
                                        <td> <b>$</b>{{item.valor_factura}}</td>
                                        <td>{{item.fecha_ingreso | date}}</td>
                                        <td>{{item.orden_compra}}</td>
                                        <td class="text-center" *ngIf="item.cotizacion != ''; else vacio"><i class="fa fa-check"></i></td>
                                        <td>{{item.iduser.nombre}}</td>
                                        <td class="text-center">
                                            <button type="submit" class="input-group-test btn btn-info" ngbTooltip="Ver evento" [routerLink]="['/evento/',item._id]">
                                                <i class="fa fa-eye"></i>
                                            </button> &nbsp;
                                            <button type="submit" class="input-group-test btn btn-warning" ngbTooltip="Editar evento" [routerLink]="['/evento/editar/',item._id]"> 
                                                <i class="fa fa-edit"></i>
                                            </button> &nbsp;
                                            <!-- <button type="submit" class="input-group-test btn btn-danger" ngbTooltip="Eliminar producto" (click)="eliminarVenta(item._id)">
                                                <i class="fa fa-trash"></i>
                                            </button>  -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ng-template #vacio>
                                <td class="text-center"><i class="fa fa-times-circle"></i></td> 
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
